meta_data_images/
meta_data/
*.zip
Code-ReID/CARE/data
Code-ReID/CARE/scripts
Code-ReID/CARE/**/*.pt
Code-ReID/CARE/**/*.pth

Code-ReID/VIGIL-ReID/

Code-ReID/ReID-VIGIL/data
Code-ReID/ReID-VIGIL/output
**/.cache/**
**/__pycache__/